@model Main.Meteo.ViewModels.User.LoginViewModel
@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "ورود به سامانه";
}

<div class="authentication-wrapper authentication-cover">
    <div class="authentication-inner row m-0">
        <div class="d-flex col-12 col-lg-3 flex-column align-items-center authentication-bg p-sm-12 pt-12 ps-4 pe-4 position-relative">
            <div class="col-12 text-center mb-4">
                @* <img class="w-25 m-auto" src="~/svg/logo-black.svg" /> *@
            </div>

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-@TempData["Class"]">
                    @TempData["Message"]
                </div>
            }

            <form method="post" asp-action="Login">
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">نام کاربری</label>
                    <input asp-for="UserName" class="form-control" placeholder="نام کاربری یا کد ملی" autofocus />
                </div>

                <div class="mb-3 form-password-toggle">
                    <label asp-for="Password" class="form-label">کلمه عبور</label>
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" placeholder="••••••••••••" />
                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                    </div>
                </div>

                <div class="mb-3 form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">مرا بخاطر بسپار</label>
                </div>

                <button class="btn btn-primary w-100">ورود</button>
            </form>
        </div>

        <div class="d-none d-lg-flex col-lg-9 p-0">
            <div class="auth-cover-bg d-flex justify-content-center align-items-center"
                 style="background-image:url('/img/sardar-image.jpg');background-size:cover;background-position:center;">
            </div>
        </div>
    </div>
</div>
