
@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir-FD-WOL.eot);
    src: url(../fonts/Vazir-FD-WOL.woff) format('woff'),url(../fonts/Vazir-FD-WOL.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: VazirBold;
    src: url(../fonts/Vazir-Bold-FD-WOL.eot);
    src: url(../fonts/Vazir-Bold-FD-WOL.woff) format('woff'),url(../fonts/Vazir-Bold-FD-WOL.ttf) format('truetype');
    font-weight: 400;
}

body {
    text-align: right;
    direction: rtl;
    font-family: Vazir;
}

.template-customizer {
    font-family: Vazir;
}

.template-customizer-directions {
    display: none;
}

.menu-item.open > .menu-sub {
    padding-right: .5rem;
}

.chat-bubble {
    position: fixed;
    left: 0;
    bottom: 30px;
    z-index: 9999
}

    .chat-bubble i {
        font-size: 4rem !important;
    }

.chat-canvas {
    z-index: 99999
}

.content-loader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.4);
    z-index: 99;
    height:100vh;
}

.dark-style .content-loader {
    background: rgba(0,0,0,0.6);
}

.content-loader img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.content-wrapper {
    position: relative !important;
}

.just-print {
    display: none !important;
}

.d-flex.just-print {
    display: none !important;
}

@media print {
    .just-print {
        display: block !important;
    }

        .just-print.d-flex {
            display: flex !important;
        }

    .no-print {
        display: none !important;
    }

    * {
        direction: rtl;
        text-align: right;
        font-size: 10px !important;
    }

    .card {
        box-shadow: none !important;
    }

    h1 {
        font-size: 16px !important;
    }

    h2 {
        font-size: 14px !important;
    }

    h3 {
        font-size: 12px !important;
    }

    .print-100 {
        width: 100% !important;
    }
}

th.sticky-col, td.sticky-col {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff !important;
}
.authentication-bg {
    background-image: url('../svg/login-p-bg-transparent.svg');
    background-repeat: repeat;
}