<ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item active open">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ti ti-smart-home"></i>
            <div data-i18n="Applications">کاربران</div>
            <div class="badge bg-danger rounded-pill ms-auto">5</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item active">
                <a href="@Url.Action("Index", "User")" class="menu-link">
                    <div data-i18n="Management">مدیریت</div>
                </a>
            </li>
            <!-- بقیه منوها -->
        </ul>
    </li>
    <!-- سایر منوها -->
</ul>